<!DOCTYPE HTML>
<html>
 <head>
  <title>Zaverecne zadanie POIT 2021</title>   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="static/jquery-ui.min.css">
   <script src="static/jquery-3.2.1.min.js"></script>
   <script src="static/jquery-ui.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      var x = new Array();
      var y = new Array();
      var trace;
      var layout;
      var temp;
           

      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
        x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.data));
        trace = {
            x: x,
            y: y,
        };       
        layout = {
          title: 'Data',
          xaxis: {
              title: 'x',
          },
          yaxis: {
              title: 'y',
              range: [0,5.1]
          }
        };
        console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 

        if(msg.data == 'Amplitude value set') { 
          gauge.value = temp;
        }    
        else {
          gauge.value = msg.data;
          temp = msg.data;
        }    
      });

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#P').val() + "a" + $('#I').val() + "a" + $('#D').val()+ "a" + $('#Setpoint').val() + "a"});                   
          //socket.emit('my_event', {value: $('#D').val()});
          //socket.emit('my_event', {value: $('#Setpoint').val()});
          return false; 
        });
      $('form#start').submit(function(event) {
          socket.emit('start_request');
          return false; 
        });
      $('form#stop').submit(function(event) {
          socket.emit('stop_request');
          return false; 
        });
      $('form#connect').submit(function(event) {    // kinda done
          socket.emit('connect_request');
          document.getElementById("disccon").disabled = false;
          document.getElementById("sta").disabled = false;
          document.getElementById("sto").disabled = false;
          document.getElementById("con").disabled = true;
          return false; 
        });    
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; 
        });   
               

      var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "Voltage",
          minValue: 0,
          maxValue: 5,
          majorTicks: [
              "0",
              "1",
              "2",
              "3",
              "4", 
              "5"              
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 1,
                  "color": "rgba(255, 255, 255, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge.draw();
      gauge.value = "0"; 
    
    });
    </script> 
          
    
 </head>
 <body>
   
  <div id="redirection">  
    <p><a href="/dbtab">Load data from db or file</a></p>
  </div>

  <div id="tabs">    
    <div id="tabs-1">
      <h1>Zaverecne zadanie POIT 2021</h1>
      <h2>Send:</h2>
      <form id="emit" method="POST" action='#'>
        <input type="text" name="P" id="P" placeholder="P" required><br>
        <input type="text" name="I" id="I" placeholder="I" required><br>
        <input type="text" name="D" id="D" placeholder="D" required><br>
        <input type="text" name="Setpoint" id="Setpoint" placeholder="Setpoint" required><br>
        <input type="submit" value="Send">
      </form>
      <form id="connect" method="POST" action="#" onclick="myFunction()"> 
        <br><input id="con" type="submit" value="OPEN">
      </form> 
      <form id="disconnect" method="POST" action="#" >
        <input id="disccon" type="submit" value="CLOSE" disabled>
      </form> 
      
      <form id="start" method="POST" action='#'>
        <br><input id="sta" type="submit" value="Start" disabled>
      </form>
      <form id="stop" method="POST" action='#'>
        <input id="sto" type="submit" value="Stop" disabled>
      </form>            
    </div>
    <div id="tabs-2">
      <div id="plotdiv" style="width:600px;height:250px;"></div>
    </div>
    <div id="tabs-3">
      <canvas id="canvasID"></canvas>
      <h2>Receive:</h2>
      <div id="log"></div>
    </div>
  </div>
 </body>
</html>
